In [10]:
#Linear Regression Gradient Descent
import pandas as pd
import numpy as np
df1 = pd.read_csv('../Assignment_data/Data_Q1/housing.csv')#Loading the data from the housing file
df1.head()#The housing data contains 10 attributes.

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [11]:
from sklearn.model_selection import train_test_split

#Splitting the data into train and test data.
train_set, test_set = train_test_split(df1, test_size=0.2, random_state=42)

In [12]:
df = train_set.copy()

In [13]:
import pandas as pd

#Dropping the columns 'median_house_value' and 'ocean_proximity' and storing the 'median_house_value' as train_labels
train_data = df.drop(["median_house_value","ocean_proximity"],axis=1) #all the data set.
y = pd.DataFrame(df["median_house_value"].copy()) #a matrix of y(median_house_value)

In [14]:
from sklearn.preprocessing import Imputer
#Data Cleaning
imputer = Imputer(strategy="median")
imputer.fit(train_data)
x = imputer.transform(train_data)
x=(x+x.mean())/(x+x.std()) #scaling the data
leny = len(y)
x1 = np.c_[np.ones((leny,1)),x]

#Preparing the test data
test_set1= test_set.drop(["median_house_value","ocean_proximity"],axis=1)
test_y = np.array((test_set["median_house_value"]))
imputer.fit(test_set1)
test_x = imputer.transform(test_set1)
test_x=(test_x+test_x.mean())/(test_x+test_x.std())
test_set2=np.c_[np.ones((len(test_y),1)),test_x]


#data1 = pd.DataFrame(X1, columns=X1.columns, index = list(X1.index.values))
#conversion of numpy array to a panda dataframe

In [15]:
#calculating the Gradient Descent
def gradient_descent(x1,y, alpha,iterations):
    
    m=len(x1[0])
    theta = np.zeros((m,1))
    theta_history=[]
    theta_history.append(theta)

    for iteration in range(iterations):
        hypothesis = np.dot(x1,theta)
        error = hypothesis-y
        gradient =(2*np.dot(x1.T,error))/leny #derivative of cost function
        theta=theta - alpha*gradient #Theta_new=Theta_old-eta*gradient
        theta_history.append(theta)
        
    return theta,theta_history

In [16]:
%%time
(t),theta_history = gradient_descent(x1,y,0.1,100)

CPU times: user 72 ms, sys: 0 ns, total: 72 ms
Wall time: 36.1 ms

In [17]:
t #printing theta parameters (theta optimised)

array([[52398.75443688],
       [23408.7678057 ],
       [26726.04940337],
       [28241.05591177],
       [58181.68077111],
       [30513.25621529],
       [20400.85395255],
       [32831.85390085],
       [27523.47982497]])

In [18]:
#calculating root mean squared error
from sklearn.metrics import mean_squared_error

housing_predictions = np.dot(test_set2,t)
lin_mse = mean_squared_error(test_y, housing_predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

113785.83881909902