In [16]:
#Linear Regression Closed Form
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
data = pd.read_csv('../Assignment_data/Data_Q1/housing.csv') #Loading the data from the housing file
data.head() #The housing data contains 10 attributes.

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [17]:
from sklearn.model_selection import train_test_split
#Splitting the data into train and test data.

train_set, test_set = train_test_split(data, test_size=0.2, random_state=42) 
#train_set.head()
#test_set.head()

In [18]:
import pandas as pd
#Dropping the columns 'median_house_value' and 'ocean_proximity' and storing the 'median_house_value' as train_labels
train_data = train_set.drop(["median_house_value","ocean_proximity"],axis=1) #all the data set.
train_labels = pd.DataFrame(train_set["median_house_value"]) #a matrix of y(median_house_value)

In [19]:
from sklearn.preprocessing import Imputer
#Data Cleaning
imputer = Imputer(strategy="median")
imputer.fit(train_data)
X = imputer.transform(train_data)
leny = len(train_labels)
imputer.fit(train_labels)
Y = imputer.transform(train_labels)
X1 = np.c_[np.ones((leny,1)),X]
Y1 = pd.DataFrame(Y)
#data1 = pd.DataFrame(X1, columns=X1.columns, index = list(X1.index.values)) #conversion of numpy array to a panda dataframe

In [20]:
from numpy.linalg import inv
# W = (X.T * X)^-1 * X.T * Y
# In closed form W i.e the parameters can be obtained from above formula.
def closed_form(X,Y) :
    return inv((X.T).dot(X)).dot(X.T).dot(Y)

In [21]:
%%time
W = closed_form(X1,Y1)
print(W)

[[-3.57822423e+06]
 [-4.26323917e+04]
 [-4.24500719e+04]
 [ 1.18280965e+03]
 [-8.18797708e+00]
 [ 1.16260128e+02]
 [-3.84922131e+01]
 [ 4.63425720e+01]
 [ 4.05384044e+04]]
CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 41 ms

In [22]:
#Preparing and cleaning the test data
test_data = test_set.drop(["median_house_value","ocean_proximity"],axis=1)
imputer.fit(test_data)#Cleaning the test data
test_labels = pd.DataFrame(test_set["median_house_value"])
X2 = imputer.transform(test_data)
leny1 = len(test_labels)
imputer.fit(test_labels)
Y2 = imputer.transform(test_labels)
X3 = np.c_[np.ones((leny1,1)),X2]
Y3 = pd.DataFrame(Y2)

In [23]:
#Finding Root mean square error
from sklearn.metrics import mean_squared_error
def RMSE(X,W,Y) :
    housing_predictions = X.dot(W)
    lin_mse = mean_squared_error(Y,housing_predictions)
    lin_rmse = np.sqrt(lin_mse)
    return lin_rmse

In [24]:
RMSE(X3,W,Y3)

71140.17328337136